DirectoryIndex login.php
Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^vendor/ - [F,L]
</IfModule>

<FilesMatch "^(env\.php|composer\.json|composer\.lock)$">
Require all denied
</FilesMatch>
