DirectoryIndex index.php

# Redirect non-file requests to index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

# Security: block access to sensitive files
<FilesMatch "\.(sql|md|env\.php|log)$">
    Require all denied
</FilesMatch>

RewriteRule ^vendor/ - [F,L]
